@import "reset.css";

body {
  font-family: "Nanum Barun Gothic", dotum, sans-serif;
  font-size: 14px;
}

.header-in {
  display: flex;
  padding: 0 60px 0 30px;
  margin: 0 auto;
  max-width: 1530px;
  box-sizing: border-box;
  justify-content: space-between;
}

.top-area {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-button {
  border: 1px solid #b99764;
  border-radius: 40;
  padding: 6px 25px;
  color: white;
  background-color: #b99764;
  font-size: 13px;
  margin-left: 3px;
  font-weight: 600;
}

.top-button-white {
  background-color: white;
  color: #b99764;
  border-top-color: white;
}
