body {
  margin: 0px;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.navbar {
  padding-left: 100px;
  padding-right: 200px;
  min-width: 1000px;
  font-size: 18px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 0.71);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 0.71);
  -moz-box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 0.71);
}

.navbar-left > *,
.navbar-right > * {
  margin: 10px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left__column {
  margin: 20px;
  font-weight: 600;
}

.navbar-left__column:hover,
.find-a-store:hover {
  color: #00754a;
}

.navbar-left-logo {
  width: 50px;
}

.sign-in,
.join-now {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.find-a-store {
  display: flex;
  align-items: center;
  font-weight: 500px;
}

.join-now {
  background-color: black;
  color: white;
}

.product-container {
  display: flex;
  margin: 40px 0px 40px 0px;
}

.product {
  display: flex;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.protein {
  display: flex;
  margin: 40px 0px 40px 0px;
}

.product-left,
.product-right {
  max-width: 50%;
}

.product img {
  max-width: 100%;
}

.product-right {
  text-align: center;
  width: 100%;
}

.product-title {
  color: #1f3832;
  font-size: 40px;
  max-width: 73%;
  margin: auto;
}

.product-explanation {
  color: #1f3832;
  font-size: 25px;
  max-width: 74%;
  margin: auto;
  margin-top: 20px;
}

.product-button {
  border: 1px solid black;
  border-radius: 40px;
  max-width: max-content;
  padding: 7px 20px 7px 20px;
  margin: auto;
  margin-top: 40px;
}

.product-button:hover {
  background-color: rgba(30, 57, 50, 0.1);
}

.product-button-white {
  border-color: white;
}

.product-button-white:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.product-explanation {
  font-weight: 340;
}

.product-title {
  font-size: 50px;
  font-weight: 600;
}
