body {
  padding: 20px;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
  padding-left: 24px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left__column {
  margin: 20px;
}

.navbar-left-logo {
  width: 50px;
}

.sign-in,
join-now {
  border: 1px solid black;
}
