* {
  font-family: Nanum Barun Gothic, dotum, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  align-items: center;
}

.inner {
  max-width: 1530px;
  padding: 0px 60px 0px 30px;
  margin: auto;
}

.inner-top {
  display: flex;
  justify-content: space-between;
}

.top-button {
  display: flex;
}

.top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 2px;
  border: 1px solid #b99764;
  border-radius: 0 0 2px 2px;
  background-color: #b99764;
  color: #fff;
}

.top-box-white {
  background-color: white;
  color: #b99764;
}

.top-box-white:hover {
  background-color: #b99764;
}

.top3label {
  font-size: 12px;
  margin-top: 20px;
}

.top3label-label {
  padding: 0px 10px 0px 10px;
  border-right: 1px solid black;
}

.inner img {
  margin-top: -30px;
}

.inner-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-center-navbar {
  display: flex;
}
